---
- name: Validate API credentials
  uri:
    url: "{{ pfsense_api_host }}/api/v1/system/status"
    method: GET
    headers:
      Authorization: "Bearer {{ pfsense_api_key }}:{{ pfsense_api_secret }}"
    validate_certs: false
  register: _status
  failed_when: _status.status not in [200, 204]

- name: Configure firewall rules
  uri:
    url: "{{ pfsense_api_host }}/api/v1/firewall/rule"
    method: POST
    headers:
      Authorization: "Bearer {{ pfsense_api_key }}:{{ pfsense_api_secret }}"
    body_format: json
    body:
      descr: "{{ item.name }}"
      interface: "{{ item.interface }}"
      protocol: "{{ item.protocol }}"
      source: "{{ item.source }}"
      destination_port: "{{ item.destination_port }}"
      action: pass
    validate_certs: false
  loop: "{{ pfsense_rules }}"
